---
layout: archive
title: "📖 Publications"
permalink: /publications/
author_profile: true
---

{% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}



# Journal Articles
**SenticNet and Abstract Meaning Representation driven Attention-Gate semantic framework for aspect sentiment triplet extraction**   
Xiaowen Sun, Jiangtao Qi, Zhenfang Zhu, **Meng Li**, Hongli Pei, Jing Meng
Engineering Applications of Artificial Intelligence (EAAI) 2025-01. [[Journal]](#)

**Diversity and Balance: Multimodal Sentiment Analysis using Multimodal-Prefixed and Cross-Modal Attention**
**Meng Li**, Zhenfang Zhu, Kefeng Li, Hongli Pei
IEEE Transactions on Affective Computing (TAFFC) 2024. [[Journal]](#)

**Joint training strategy of unimodal and multimodal for multimodal sentiment analysis**   
**Meng Li**, Zhenfang Zhu, Kefeng Li, Lihua Zhou, Zhen Zhao, Hongli Pei
Image and Vision Computing (IVC) 2024-09. [[Journal]](#)

**FEATURE-GATED DYNAMIC LINK NETWORK FOR ASPECT-BASED SENTIMENT ANALYSIS**   
Lihua Zhou, Linghui Zhong, Dianyuan Zhang, Zhen Zhao, **Meng Li**, Zhenfang Zhu
Journal of Nonlinear and Convex Analysis 2022. [[Journal]](#)


# Conference Papers



